In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('dlkslkdlaksdkasdk'))
s

0     d
1     l
2     k
3     s
4     l
5     k
6     d
7     l
8     a
9     k
10    s
11    d
12    k
13    a
14    s
15    d
16    k
dtype: object

In [3]:
s.unique()

array(['d', 'l', 'k', 's', 'a'], dtype=object)

In [4]:
s.value_counts()

k    5
d    4
l    3
s    3
a    2
dtype: int64

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [6]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [7]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64